<h1>Sessions#new</h1>
<form method="post">
  <div>name: <input name="name" type="text">	</div>
  <div>pass: <input name="pwd" type="password"></div>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>登录</button>
</form>
<p>Find me in app/views/sessions/new.html.erb</p>
